@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.65);
  --spacing: 350px;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 10px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


.title {
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
}


.fuc {
  background: var(--dark-bg);
  grid-column: 2 / span 4;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  padding: 2rem;
  line-height: 100%;

}